<h1>Routes</h1>

<p>All Routes follow /api for example http://waterme.com/api</p>

<h4>Return Data for a particular point (longitude/latitude).</h4>
<pre>/longLat/:latitude/:longitude </pre>

<h4>Return Data for an area using two points as boundry points.</h4>
<pre>/squareLongLat/:BoundryPointALatitude/:BoundryPointALongitude/:BoundryPOintBLatitude/:BoundryPointBLongitude</pre>