<h1>Routes</h1>

<p>All Routes follow /api for example http://waterme.com/api</p>

<h4>Return Data for a particular point (longitude/latitude).</h4>
<pre>/longLat/:latitude/:longitude </pre>

<h4>Return Data for an area using two points as boundry points.</h4>
<pre>/squareLongLat/:BoundryPointALatitude/:BoundryPointALongitude/:BoundryPOintBLatitude/:BoundryPointBLongitude</pre>

<h5>Additional Get Queries:</h5>

<p>
?select=comma,sepperated,field,names,you,would,like<br/>

The Fieldnames can be anything you can get when getting data with no select query. This includes ...
</p>

<pre>{
	"ID",
	"latitude",
	"longitude",
	"bandOne",
	"bandTwo",
	"bandThree",
	"bandFour",
	"bandFive",
	"bandSix",
	"bandSeven",
	"vegetation",
	"cloud",
	"NDWI",
	"timeTaken"
}</pre>