<!DOCTYPE html>
<html>
<head>
	<title>WaterMe</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Visualises the amount of water in foliage using satellite data" />
	<meta name="keywords" content="water, drought, map, visualise, foliage, satellite" />

	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
	html { height: 100% }
	body { height: 100%; margin: 0; padding: 0 }
	#map_canvas { height: 200px; }
	</style>
	<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBfOKTN7ZCmfiELpWRkwAAyAlTMfmkveR4&sensor=false"></script>
	<script type="text/javascript" src="http://openlayers.org/api/OpenLayers.js"></script>
	
	<script type="text/javascript">
	
	$('.content').css("height", window.innerHeight - 40);

	function init() {
		map = new OpenLayers.Map("map");

		var mapLayer       = new OpenLayers.Layer.OSM();
		var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
		var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
		var position       = new OpenLayers.LonLat(-1.4044,50.9097).transform( fromProjection, toProjection);
		var zoom           = 11; 

		map.addLayer(mapLayer);
		map.setCenter(position, zoom);
	} 

	</script>


</head>

<body onload="init()">
	
	<header>
		<div class="leftnav">
			<h1 class="name">WaterMe</h1>
		</div>
		<div class="rightnav"></div>
	</header>
	<div class="content">
		<div id="map" style="background-color:grey;width:100%; height:100%"></div>
	</div>
</body>
</html>
